body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .container-1 {
    display: block;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 100px;
    width: 97%;
    cursor: pointer;
    gap: 3px;
  }
  
  .product-card {
    border: none;
    padding: 15px 15px 30px 15px;
    height: 330px;
    text-align: center;
    background: #fff;
    transition: transform 0.2s;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .product-card:hover {
    background: #e7e7e7;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
  }
  
  .product-card p {
    font-size: 16px;
    font-weight: bold;
    color: #e62121;
    margin: 5px 0;
  }
  
  .product-card .tag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .buttons button {
    padding: 14px 32px;
    font-size: 14px;
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    border: 0.2px solid rgb(221, 221, 221);
    transition: background-color 0.2s;
    margin-bottom: 30px;
  }
  
  .buttons button:hover {
    background-color: #9e9e9e;
  }
  
  .buttons button.active {
    background-color: red;
    color: white;
  }

  .buttonfirst {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .buttonlast {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .button-1 {
    width: 100%;
    padding: 6px 0;
    background-color: red;
    margin-bottom: 60px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .button-1:hover {
    background-color: rgb(157, 8, 8);
  }